<!DOCTYPE html>
{%extends 'base.html'%}

{%block body_block%}

<div class="row">
    {%for order in orders%}
    <div class="card ml-5" style="width: 18rem;">
        <img src="{{order.item.image.url}}" class="card-img-top ml-5 mt-3" alt="..." style="width: 60%; height=60%;">
        <div class="card-body">
            <h6 class="card-title text-center">{{order.item}}</h6>
            <h6 class="card-title text-center">{{order.item.price}}</h6>
            <div class="row">
                <div class="col-4 ml-4">
                    <a href="{%url 'removeordereditem' order.id%}" class="btn btn-info  ml-5 mt-5 ">Remove</a>

                </div>
                <div class="col-4">
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>

    {%endfor%}
</div>

{%endblock%}