<!DOCTYPE html>
{%extends 'base.html'%}

{%block body_block%}
{%for book in items%}
<div class="row">
    <div class="col-6">
        <div class="card" style="width: 18rem;">
            <img src="{{book.item.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{book.item}}</li>
                <li class="list-group-item">{{book.item.price}}</li>
                <li class="list-group-item">{{book.status}}</li>
            </ul>

        </div>
    </div>
</div>


{%endfor%}


{%endblock%}